body {
  padding: 25px;
}

header {
  padding: 25px;
  color: ivory;
  background-color: darkturquoise;
}

h1{
  text-align: center;
  font-weight: bold;
}

main {
  color: darkturquoise;
}

img {
  max-width: 100%;
  height: 200px;
  padding-top: 20px;
}

li {
  list-style: none;
}

li a {
  color: ivory;
}

li a:hover {
  color: turquoise;
  text-decoration: none;
}
