{% extends 'base.html' %}

{% block content %}
  <header>

  {% if name == '' %}
    <h1>Hello!</h1>
  {% else %}
    <h1>{{ name }}</h1>
  {% endif %}

    <nav>
      <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <h2>About Me</h2>
    <img src="../static/images/SUP.JPG" alt="SUP" />

    <h3>Description:</h3>
    {% if description == '' %}
      <p>I am learning Python. I have studied HTML, CSS and JavaScript by myself.</p>
    {% else %}
      <p>{{ description }}</p>
    {% endif %}
  </main>

{% endblock %}
